* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.hover {
  background-color: rgb(148, 179, 37);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 20px;
}

.btn {
  margin: 10px;
  padding: 5px 10px;
}
